* {
    box-sizing: border-box;
}

h3 {
    font-size: 18px;
    font-weight: bold;

}

header {
    background-color: darkslategrey;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

a,
li {
    padding: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin: 30px auto;
    background-color: bisque;

}

main img {
    margin-bottom: 30px
}

article {
    width: 450px;
}

article section {
    height: 320px;
    overflow: auto;
}

footer {
    height: 50px;
    background-color: darkslategrey
}

article a {
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 5px;
    /* margin: auto; */

}

.idk {
    margin-top: 13px;
}